
.icon-user:before { content: '\e800'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
